<body>
  <header class="flex-container">
    <div class="nav-bar" id="nav">
      <div id="nav-1">
        <a id="logo" href="/"><img src="/images/logo.png" /></a>
      </div>
      <nav id="nav-2" class="menu">
        <a href="blog">Life Moments</a>
        <a href="blog">Health & Wellness</a>
        <a href="blog">Little Thoughts</a>
        <a href="blog">Eat With Me</a>
      </nav>
      <div id="hamburger" onClick="openNav()">
        <div id="top-bun"></div>
        <div id="patty"></div>
        <div id="bottom-bun"></div>
      </div>
    </div>
  </header>
</body>
