    <footer>
      <p class="flex-container">
        <a class="flex-item" href="https://www.instagram.com/claireland/"><img src="images/instagram.png" alt="Instagram Logo" class="social-link"></a>
        <a class="flex-item" href="https://www.linkedin.com/in/claireland/"><img src="images/linkedin.png" alt="linkedin logo" class="social-link"></a>
      </p>
      <p>Claire.Land</p>
    </footer>
    <script src="js/opennav.js"></script>
   </body>
</html>