<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Claire Landers</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <meta property="og:title" content="Claire Landers" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://claire.land/" />
    <meta property="og:image" content="https://claire.land/images/claire.jpg" />
    <meta
      property="og:description"
      content="This is a place for all things healthy living. Regardless of where you are on your health journey, I hope you can find something here that will inform you, challenge you or inspire you. "
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Claire Landers" />
    <meta
      name="twitter:description"
      content="This is a place for all things healthy living. Regardless of where you are on your health journey, I hope you can find something here that will inform you, challenge you or inspire you. "
    />
    <meta
      name="twitter:image"
      content="https://claire.land/images/claire.jpg"
    />
    <%- include('_analytics.ejs'); %>
  </head>
</html>
