/*  Claire.land Style Sheet   */


/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
/*Site Wide*/

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}
a {
  color: #8E9EA9;
}
main {
  padding: 40px 0px;
  max-width: 900px;
  margin: 0 auto;
}
hr {
  margin: 30px 0px 30px 0px;
}
h1, h2, h3, h4{
  line-height: 3rem;
  font-family: 'Montserrat';
}
h1{
  font-size: 32pt;
}
h2{
  font-size: 28pt;
}
h3{
  font-size: 24pt;
}
h4{
  font-size: 20pt;
}
p{
  font-size: 14pt;
  padding: 10px 0;
  font-family: 'Raleway', sans-serif;
}
img{
  max-width: 400px;
}
iframe {
  max-width: 100%;
}
img.home-page{
  max-width: 100%;
}
.white{
  color:white;
}
.blog-post header, .blog-post label{
  color:white;
}
.blog-post #logo {
  color: white;
}
.blog-post .menu a{
  color: white;
}
.cards {
   display: flex;
   justify-content: space-between;
}


/*Header Specific*/
header {
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/header-background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
}
header a{
  margin: 20px;
}
header.simple-nav{
  height: 0;
  margin-bottom: 60px;
}
#logo{
  text-decoration: none;
  color: #520015;
  float: left;
  font-size: 35px;
  margin-top:20px;
}
.nav-bar{
  top: 0;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index:100;
}
#header-img {
  float: left;
  padding: 15px;
  max-height: 45px;
  max-width: 100%;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: right;
  float: right;
}
nav li {
  display: inline-block;
  padding-top: 25px;
  position: relative;
}
nav a {
  color: #A9998E;
  text-decoration: none;
  font-size: 24px;
  padding-right: 30px;
}
.topnav .icon {
  display: none;
}
.cta{
  position:relative;
  color: white;
  width: 100%;
  margin: 50% 0 0 0;
  text-align: center;
}
#banner-text{
  color:white;
}

/* NAV SPECIFIC SECTION */
nav{
    text-align: right;
    color: #520015;
  }
.menu a{
  clear: right;
  line-height: 70px;
  color: #520015;
}
.menu a:hover{
  text-decoration: underline;
}
header label{
  margin: 18px 30px 0 0;
  font-size: 35px;
  display: none;
  float: right;
  position: fixed;
  right:0;
  top: 0;
  z-index: 99;
}
#toggle{
  display:none;
}
a.nav-colored{
  color:white;
}

/*Buttons and Calls to Action*/
.cta-button{
  z-index: 99;
  border-width: 2px;
  font-weight: bold;
  display:inline-block;
  text-decoration:none;
  cursor:pointer;
  font-size:20px;
  line-height:50px;
  text-align:center;
  margin:0;
  height:50px;
  padding:0px 33px;
  border-radius:25px;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.colored-button{
  background-color: #8E9EA9;
  color: white;
}
.white-button{
  background-color: white;
  color: #552d7c;
}
.nav-colored{
  background-color: #8E9EA9;
}
.nav-transparent{
  background-color: transparent;
}
#menu-button{
  max-height: 20px;
  max-width: 30px;
  margin: 5px;
}


/*Flex Box Controlls*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 100%;
  align-self: flex-end;
}
.flex-item {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px 10px;
  align-self: center;
}
.blog-menu .flex-item{
  width: 250px; 
  height: 350px; 
  margin: 10px;  
  border-radius: 25px;
  background-size: cover;
  text-decoration: none;
}
.flex-item img {
  object-fit: contain;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.card-header, .card-date{
  margin:10, 0, 0, 0;
  color: white;
}
.blog-menu a{
  text-decoration: none; 
}
.blog-menu h1{
  font-size: 28px;
  margin: 0;
  padding: 0;
}

/*Classes, Alignment, color, unique*/
.align-right{
  align-items: right;
}
.float-right{
  float: right;
}
div.team {
  overflow: hidden;
}
.team img{
  float: left;
  max-width: 300px;
  margin-right: 30px;
}
.bold{
  font-weight: bold;
}
.centered{
  text-align: center;
}
.gallery img{
  margin: 20px 0px 20px 0px;
}
.blog-item-text-background {
   color: white; 
   background: rgba(0, 0, 0, 0.5);
   padding: 10px; 
}

/*Footer CSS*/
footer {
  background-color: #8E9EA9;
  color: white;
  width: 100%;
  text-align: center;
}
footer p{
  max-width: 95%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16pt;
}
footer li {
  display: inline-block;
  padding: 10px; 
}
footer a {
  color: white;
  text-decoration: none;
}
#footer-phone {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}
.social-link{
  max-width: 50px;
}
.hide-on-desktop{
  display: none;
}

/*Small Screen*/
@media only screen and (max-width : 800px) {

  main{
    max-width: 90%;
  }
  img{
    max-width: 100%;
  }
  header label {
    display: block;
    cursor: pointer;
  }
  header a{
    font-size: 24px;
  }
  #logo{
    font-size: 22px;
    margin: 20px 0 0 15px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a{
    display: block;
    margin: 0;
    padding-right:0;
  }
  #toggle:checked + .menu {
    display: block;
    position: fixed;
    background-color: #8E9EA9;
    top: 0;
  }
  #header-img {
  float: left;
  padding: 15px;
  max-height: 35px;
  max-width: 100%;
  }
  content {
    width: 95vw;
    margin: 0 auto;
  }
  .cta{
    position:relative;
    color: white;
    width: 95vw;
    text-align: center;
  }
  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon { 
    float: right;  
    display: block;
  }
  
  .topnav.responsive {
    position: fixed;
    top:0;
    right: 0;
    background-color: #8E9EA9; 
    width: 170px;
    float: right;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
  }
  .topnav.responsive a.icon {
  }
  .topnav.responsive a {
    display: block;
  }
  a.hide-on-mobile {
    display: none;
  }
}

