<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Life Moments - Claire Landers</title>
    <meta name="description" content="Life Moments" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <meta property="og:title" content="Whole Foods Plant Based Blogger" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://claire.land/life-moments" />
    <meta property="og:image" content="https://claire.land/images/claire.jpg" />
    <meta property="og:description" content="Life Moments" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Claire Landers" />
    <meta
      name="twitter:description"
      content="Life Moments"
    />
    <meta
      name="twitter:image"
      content="https://claire.land/images/claire.jpg"
    />
  </head>

  <body>
    <%- include('../../includes/_banner-header'); %>

    <main>
      <h1 class="centered">Life Moments</h1>

      <section class="flex-container blog-menu">
        <a
          href="use-condoms-not-condiments"
          style="background-image: url(../images/condiments.jpg)"
          class="flex-item flex-container"
        >
          <div class="blog-item-text-background">
            <h1 class="card-header">Use Condoms, Not Condiments</h1>
            <p class="card-date">March 27, 2020</p>
          </div>
        </a>

        
      </section>
    </main>

    <%- include('../../includes/_footer') %>
    <script src="../js/scroll.js"></script>
  </body>
</html>
