<%- include('../includes/_head'); %>  
  <body>
    <main>
      <h1>You weren't supposed to see this!</h1>
      <img class='centered' src='images/404.gif'>
      <h2>404 Error</h2>
    </main>
    <%- include('../includes/_footer'); %>
    