<%- include('../includes/_head'); %>  
<%- include('../includes/_banner-header') %>
    <main>
      <h1>What’s up!!</h1>
        <h3>Thanks for being here.</h3>
        <p>
          My name is Claire, I’m from Tulsa, Oklahoma - currently living in Phoenix, Arizona. If you’re into personality stuff, I’m an ESFP and a 7w6. I’m a cat lover & a recovering Haribo candy addict. The fastest way to my heart is through The Office memes and Madewell gift cards. 
        </p><p> 
          During the week, I’m a nanny for a family with 2 kids! On the weekends, I enjoy spending time with my boyfriend, Seth, a.k.a. the love of my life! Together, we hit up our local farmer’s market, mountain bike, hike, and eat too many slices of Whole Foods Pizza. 
        </p><p>
          This is a place for all things healthy living. Regardless of where you are on your health journey, I hope you can find something here that will inform you, challenge you, or inspire you. Maybe a combination of the three. 
        </p>
        <p><a href="/blog">Check out my blog!</a></p>
    </main>
<%- include('../includes/_footer'); %>
    