<%- include('../../includes/_head'); %>
<%- include('../../includes/_banner-header'); %>

    <main>
      <h1>2020 has been a wild ride so far.</h1>
      <h2>Here's a sneak peek into what it's looked like for me.</h2>
      <p>
        Moved halfway across the country.<br />
        Started really caring about my health.<br />
        Struggled to get a grip on my new life. <br />
        Went to Bartending School. <br />
        Turned 26.<br />
        Got my first snowboard. <br />
        Fell more in love with Seth.<br />
        Got a job as a waitress - HATED it. Quit. <br />
        Anxiety skyrocketed. <br />
        Regrouped.<br />
        Got a job as a nanny. <br />
        Started this blog.<br />
        Global pandemic hit.<br />
        Acne hit.<br />
        Got engaged! <br />
        Planned a wedding in SEVEN weeks during Covid-19. (When you’re ready to
        marry, you’re just ready.)<br />
        Quit my nanny job (praise hands)<br />
        Protests and riots broke out across the United States. <br />
        BECAME A WIFE!<br />
        Honeymooned in Cabo. <br />
        Acne really hit. <br />
        Started settling into married life.<br />
        Quit social media.<br />
        Began job search numero tres.
      </p>

      <p>
        It’s been a year! LOTS of good, lots of hard.<br />
        ~We’re only halfway through it~<br />
        Excited to see what the next few months will bring! <br />
        No matter what, I’ve got the best guy standing next to me. & a really
        good God.
      </p>
      <p>Let's do it.</p>

      <h2><a href="../blog">Back to Blog</a></h2>
    </main>

    <footer>
      <p class="flex-container">
        <a class="flex-item" href="https://www.instagram.com/claireland/"
          ><img
            src="../images/instagram.png"
            alt="Instagram Logo"
            class="social-link"
        /></a>
        <a class="flex-item" href="https://www.linkedin.com/in/claireland/"
          ><img
            src="../images/linkedin.png"
            alt="linkedin logo"
            class="social-link"
        /></a>
      </p>
    </footer>
    <script src="../js/scroll.js"></script>
  </body>
</html>
