<%- include('../../includes/_head'); %>
<%- include('../../includes/_banner-header'); %>

    <main>
      <h1>Instagram: The Darkside</h1>
      <p>
      It’s all fun and games — until it isn’t anymore. 
      </p><p>
      Instagram is at a constant war with my ability to feel content. 
    </p><p>
      It’s become this place where we only share the ideal version of everything.
    </p><p>
      Our pictures and our memories have to be curated in order to fit the perfect aesthetic, to send the right idea, and to live up to “expectations”. 
    </p><p>
      Because of that - It feels as though my lists of wants, needs, wishes, and regrets never stop growing.
    </p><p>
      I’ve recently come to realize that I’m losing the battle between instagram and reality.
    </p><p>
      Comparison runs rampant.
    </p><p>
      My thoughts spiral. 
    </p><p>
      “Her closet is so much cuter than mine”<br>
      “They must make more money than us”<br>
      “I wish I could travel like that”<br>
      “Her wedding was better than mine”<br>
      “Her skin is perfect”<br>
      “I want to look like that”<br>
      “Her life is literally perfect”<br>
      “I want my house to look like that”<br>
      “I need that”<br>
      “Oh I want that too”<br>
      “She’s so much more creative than me”<br>
      Blah. Blah. Blah. 
    </p><p>
      I’m exhausted. & I know that I’m not alone. 
    </p><p>
      So why are so many of us willing participants in this not so secret game of “Who’s who”?
    </p><p>
      Why do we feel the need to put every aspect of our lives on display?
    </p><p>
      The pressure to share what an exciting life I “live” is too much.
    </p><p>
      Why am I a perfectionist?
      Why do I have anxiety?
      Why do I never feel good enough?
    </p><p>
      It’s hard not to believe that it has something to do with the fact that I spend HOURS every day scrolling through the highlights of everyone else’s life. 
    </p><p>
      I want to be a joyful person. <br>
      I want to be someone who doesn’t constantly look to the person next to me to make sure I’m doing “it” right. <br>
      I want to be someone who is genuinely happy for other people.<br>
      I don’t want to do things in order to receive affirmation from others. <br>
      I want to stop comparing my body, my femininity, my closet, my bucket list, my LIFE to every other girl. <br>
    </p><p>
      So, I finally tapped out. 
    </p><p>
      And I feel lighter and happier than I have in a very long time.
    </p><p>
      The funny thing is that sharing this makes me the “insecure girl”. And I am. But aren’t we all? No matter who we are or where we’re at in life, we will find ourselves idealizing the lives of other people. Wanting or wishing to one degree or another that the person was us. 
    </p><p>
      We’ve all got sh*t. Some just hide it better than others. 
    </p><p>
      The photos.<br>
      The edits. <br>
      The filters.<br>
      The gossip.<br>
    </p><p>
      I can’t anymore.
    </p><p>
      I just want real, authentic connection with other people. 
    </p>
      

      <h2><a href="../blog">Back to Blog</a></h2>
    </main>

    <footer>
      <p class="flex-container">
        <a class="flex-item" href="https://www.instagram.com/claireland/"
          ><img
            src="../images/instagram.png"
            alt="Instagram Logo"
            class="social-link"
        /></a>
        <a class="flex-item" href="https://www.linkedin.com/in/claireland/"
          ><img
            src="../images/linkedin.png"
            alt="linkedin logo"
            class="social-link"
        /></a>
      </p>
    </footer>
    <script src="../js/scroll.js"></script>
  </body>
</html>
