<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Use Condoms, Not Condiments - Claire Landers</title>
    <meta name="description" content="So you’re eating healthy, but you’re bloated?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Use Condoms, Not Condiments">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://claire.land/blog/use-condoms-not-condiments">
    <meta property="og:image" content="https://claire.land/images/condiments.jpg">
    <meta property="og:description" content="So you’re eating healthy, but you’re bloated?">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Use Condoms, Not Condiments">
    <meta name="twitter:description" content="So you’re eating healthy, but you’re bloated?">
    <meta name="twitter:image" content="https://claire.land/images/condiments.jpg">

    <!-- Style Sheet -->
    <link rel="stylesheet" type="text/css" href="../styles.css?ver=1.1" >
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160281077-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160281077-1');
    </script>

  </head>

  <body class="blog-post">
    <header class="flex-container" style="background-image: url(../images/condiments.jpg)">
      <div class="nav-bar" id="nav">
        <a id="logo" href="../">Claire Landers</a>
        <nav>
          <label for="toggle">&#9776;</label><input type="checkbox" id="toggle"/>
          <div class="menu">
            <a href="../blog">Blog</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <h1>Use Condoms, Not Condiments</h1>
      <p>March 27, 2020</p>
      
      <p>So you’re eating healthy, but you’re bloated.</p>
      <h2>What’s the deal?</h2>
      <p>
        I was going on 2 weeks of constant bloating and my body was practically <i>screaming</i> this question at me. Food is so sneaky, but our bodies will always tell us if something isn’t right. We just have to <b>pay attention</b>. 
      </p><p>
        I got to the point where I couldn’t ignore the discomfort anymore. So I took a step back to consider everything I was putting in my mouth. 
      </p><p>
        <ul>
          <li>Am I allergic to garlic?</li>
          <li>Am I eating too much onion?</li>
          <li>Is it salt?</li>
        </ul>
      </p><p>
        Guys, I’ve never been allergic to anything in my life (except for Arm & Hammer toothpaste, but that’s another story for another time) and my diet was primarily vegetarian & low sodium…<br>
        Or, so I <i>thought</i>. 
      </p><p>
        In the midst of this questioning, my boyfriend, Seth, and I were on a quest for Sriracha. I had gone to 3 different stores and couldn’t find any. We tried the Trader Joe’s version, and for those of you who are wondering, Trader Joe’s sriracha absolutely does not count as sriracha… don’t fight me on this. 
      </p><p>
        But I finally found the bottle I had so longed for since moving to AZ (S/O to Safeway) only to get home and read the label as I was about to put it away. 
      </p><p>
        Slight panic and heartbreak set in.
      </p><p>
        138mg of sodium/1tsp of sriracha!! I used like 1.5 Tbsp of this condiment everytime I chose to ~enhance~ my dish with it. Probably more! But I sure wasn’t counting back then. 
      </p><p>
        Now, I’m no mathematician, but according to my calculations, that’s <strong>at least 621mg of added sodium</strong>. 
      </p><p>
        To my disappointment, I had found my issue. No wonder I was bloated all the time. 
      </p><p>
        Turns out, I was ADDING over 600mg of sodium to my food before I consumed it. And this was for one meal. What about over the course of a day? You know what Sriracha goes well on? EVERYTHING! 
      </p><p>
        And for you Cholula lovers out there, the picture isn’t much better with 110mg/tsp. 
      </p><p>
        If you’re not the type to read labels, you should be. Forewarning - they’re disturbing. 
      </p><p>
        For example, here’s a list of some popular condiments and the sodium they contain:
      </p><p>
        <ul>
          <li>Heinz Ketchup - 160mg/1Tbsp</li>
          <li>Sriracha - 138mg/1tsp</li>
          <li>Cholula - 110mg/tsp</li>
          <li>Hidden Valley Ranch - 260mg/2Tbsp</li>
          <li>Kikkoman Low Sodium Soy Sauce - 575mg/1Tbsp (*note this is the “low-sodium” version)</li>
          <li>Sweet Baby Ray’s BBQ Sauce - 290mg/2Tbsp</li>
          <li>Hellman’s Mayo - 90mg/1Tbsp</li>
        </ul>
      </p><p>
        This is just sodium! Not to mention all of the other invisible additives, such as the gums, dyes, sugars, and the never ending list of things that end in -ase, -ate, -ide, etc. In the words of Michael Pollan, <b>“If your great grandma wouldn’t recognize it as food - don’t eat it!”</b>
      </p><p>
        I’m not suggesting you swear off condiments forever, but I am suggesting you think twice before dousing your pho with sriracha, double dunking your sushi in soy sauce, or covering your salad in ranch dressing. 
      </p><p>
        If you find yourself in a slight panic after reading this, I highly recommend reading <a href="https://www.amazon.com/Food-Rules-Eaters-Michael-Pollan/dp/1594203083/ref=sr_1_2?keywords=michael+pollan+food+rules&qid=1585337765&sr=8-2">Michael Pollan’s book, “Food Rules: An Eater’s Manual”</a>. 
      </p><p>
        It is straightforward and filled with fun art. It also doubles as a cute coffee table book. So it’s a win-win situation for your body and your home’s aesthetic. You really can’t beat it!
      </p><p>
        Now, back to the point here. 
      </p><p>
        I guess all I’m really trying to say is - Use condoms, not condiments.
      </p>
    <h2><a href="../blog">Back to Blog</a></h2>

    </main>

    
  
    <footer>
      <p class="flex-container">
        <a class="flex-item" href="https://www.instagram.com/claireland/"><img src="../images/instagram.png" alt="Instagram Logo" class="social-link"></a>
        <a class="flex-item" href="https://www.linkedin.com/in/claireland/"><img src="../images/linkedin.png" alt="linkedin logo" class="social-link"></a>
      </p>
    </footer>
    <script src="../js/scroll.js"></script>
  </body>
</html>